body {
  background-color: gray;
  color: black;
  padding: 0;
  overflow-x: hidden;
  margin: 0px;
}

#header {
  padding: 10px;
  text-align: center;
  background: white;
  color: black;
  font-size: 30px;
  margin: 0;
  /* margin: -50px 0 0 -10px; */
  /* position: sticky; */
  width: 100vw;
  height: 80px;
}

#header > h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: 5px 0 5px;
}

nav > div.nav-item {
  width: 25%;
  background-color: white;
  font-size: 20px;
  /* border: 2px red solid; */
  text-align: center;
}
